.form-control:focus,
.btn:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
}

body {
  margin: 0;
  font-family: "Outfit", "sans-serif";
  font-size: 17px;
  background-color: white;
}

figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color:rgba(255, 255, 255, 0.687);
  opacity: 0.8;
  font-size: 13px;
  font-style: italic;
  text-align: end;
}