@use './base/reset';
@use './base/global';
@use './components/home';
@use './components/dashboard';
@use './components/auth_common';
@use './layouts/navbar';
@use './layouts/bottom_nav';
@use './layouts/footer';
@use './components/photo';
@use './components/avatar';
@use './components/upload';
@use './components/footer_dash';
@use './components/comments';
@use './components/gallery';
@use './components/button_edit';
@use './components/request_edit_form';
@use './components/request_card';
@use './components/editor_dashboard';
@use './components/upload_zone';
@use './components/photos_edited';
@use './components/photographers';
@use './components/spinner';
@use './components/search_bar';
@use './components/skeleton_myprofile';
@use './components/latest_requests';
@use './components/staff_user';
@use './overlays/tooltip';
@use './layouts/offcanvas';
@use './components/get_greeting';
@use './components/reports';
@use './components/statistics';
@use './components/delete_account';
@use './components/terms';
@use './components/cookie_banner';
@use './components/forgot_pass';
@use './components/reset_password';
@use './components/report_card';
@use './components/reports_section';
@use './components/report_details';
@use './components/staff';
@use './components/requests_for_admin';
@use './components/banned_overlay';
@use './components/notifications';
@use './base/dark_theme';
@use './components/follow_liste';
@use './components/search_list';
@use './layouts/toast';
@use './components/google_login_button';
@use './components/payments_accounts';
@use './components/request_edit_modal';
@use './components/payment_verify';
@use './components/download_edited_image';

:root {
    --special_color: rgb(0, 120, 255);
    --like_button: red;
    --special_color: rgb(0, 120, 255);
    --special_dark-color: white;
    --box_shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    --bg-primary: #ffffff;
    --text-main: #1a1a1a;
    --card-bg: rgba(255, 255, 255, 0.8);
    --accent: #0078ff;
    --bg_dark: #0f172a;
}

@font-face {
    font-family: "Outfit";
    src: url("../Fonts/Outfit/Outfit-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("../Fonts/Outfit/Outfit-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: "Cairo";
    src: url("../Fonts/Cairo/static/Cairo-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("../Fonts/Cairo/static/Cairo-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: "Playfair";
    src: url("../Fonts/Playfair_9pt-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair";
    src: url("../Fonts/Playfair_144pt-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}

.form-control:focus,
.btn:focus,
.btn-close:focus,
.form-select:focus {
    box-shadow: none;
    outline: none;
}

body {
    margin: 0;
    font-family: "Outfit", "Cairo", "sans-serif";
    font-size: 17px;
    background-color: var(--bg-primary) !important;
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bottom-sheet-modal .modal-content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    border: 1px solid #dee2e6;
}

.about-wave-path {
    fill: #ffffff;
}
