$success-green:linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
$glass-bg:rgba(255,255,255,0.2);
$glass-border:rgba(255,255,255,0.2);
$text-light:#ffffff;

.action-wrapper{
    padding: 1rem;
}
.btn-pixora{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 14px 28px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 14px;
    border: 1px solid $glass-border;
    transition: all 0.4s cubic-bezier(0.175, 0.885,0.32,1.275);
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0,0,0.1);
    width: 100%;
    color: white;

    &--request{
        background:var(--special_color);
        &:hover{
            transform: translateY(-5px) scale(1.02);
            box-shadow: 0 10px 25px rgba(58, 123, 213,0.4);
            filter: brightness(1.1);
        }
    }

    &--pending{
        // background: yellow;
        opacity: 0.7;
        cursor: not-allowed;
        border-color: rgba(255,255,255,0.05);
        // color: rgba(255,255,255,0.5);
    }

    &--upload{
        // background: $success-green;
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(67, 233, 123, 0.3);
        }
    }

    svg{
        font-size: 18px;
    }
}