[data-bs-page="comments"] {
  .drp {
    border: none;
  }

  .drpMenu {
    border: none;
    box-shadow: var(--box_sahdow);
  }

   .drp .dropdown-toggle::after {
    display: none;
  }

  .drp .drpMenu .dropdown-item:hover {
    background-color: var(--special_color);
    color: white !important;
  }

  .drpToggle:hover {
    color: var(--special_color);
  }

  .drpToggle {
    border: none !important;
    outline: none !important;
  }

  .drpToggle:focus {
    box-shadow: none !important;
    border: none !important;
  }

  .del-comment{
    color: #d93025;
  }

  .del-comment:hover{
    background-color:#d93025 !important;
  }
}