[data-bs-page="footer-dashboard"] {
  #copyrightText {
    text-align: center;
    color: #454545 !important;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav .nav-link {
    text-decoration: none;
    color: #454545;
  }

  @media screen and (max-width: 768px) {
    .ft {
      margin-bottom: 80px;
    }
  }
}