@use './base/reset';
@use './base/global';
@use './components/home';
@use './components/dashboard';
@use './components/auth_common';
@use './layout/navbar';
@use './layout/footer';
@use './components/photo';
@use './components/upload';
@use './components/footer_dash';
@use './components/comments';

:root {
    --special_color: rgb(0, 120, 255);
    --special_dark-color: white;
    --like_button: red;
    --special_color: rgb(0, 120, 255);
    --special_dark-color: white;
    --box_sahdow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: "Outfit";
    src: url("../Fonts/Outfit/Outfit-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("../Fonts/Outfit/Outfit-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}

.form-control:focus,
.btn:focus,
.btn-close:focus,
.form-select:focus {
    box-shadow: none;
    outline: none;
}

// .form-select {
//     border: none;
//     border-radius: 0%;
//     border-bottom: 2px solid var(--special_dark-color);
//     background-color: #fcfcfc;
//     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
// }

// .form-select:focus {
//     border-bottom: 2px solid var(--special_color);
// }

body {
    margin: 0;
    font-family: "Outfit", "sans-serif";
    font-size: 17px;
    background-color: white;
}