footer h3 {
    color: var(--special_color);
}

footer mark {
    background-color: white;
}

footer {
    background-color: rgb(24, 24, 24);
    height: 210px;
}

.navFot {
    display: flex;
    justify-content: center;
}

.navFot .nav-item .nav-link {
    text-decoration: none;
    color: white;
}

.navFot .nav-item .nav-link:hover {
    color: var(--special_color);
}