@font-face {
    font-family: "Outfit";
    src: url("Outfit/Outfit-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("Outfit/Outfit-VariableFont_wght.ttf");
    font-weight: bold;
}

:root {
    --special_color: rgb(0, 120, 255);
    --special_dark-color: white;
}

body {
    margin: 0;
    font-family: "Outfit", "sans-serif";
    font-size: 16px;
    /* background-image: url("outils/backgrounds/back5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: #f8f8f8;
    /* background-color:rgb(46, 46, 46); */
}

.form-control:focus,
.btn:focus, .form-select:focus {
    box-shadow: none;
    outline: none;
}

#imgAcc,#imgAcc1 {
    border: 1px solid black;
    border-radius: 50px;
}

.card{
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.959);
    backdrop-filter: blur(20px);
}

.card-body h1{
    color: var(--special_dark-color);
    font-weight: bolder;
}

.form-control {
    border: none;
    border-bottom: 3px solid black;
    background-color: #f0f0f0;
    width: 400px;
}

.form-select{
    border: none;
    border-bottom: 3px solid var(--special_dark-color);
}

.form-select:focus{
    border-bottom: 3px solid var(--special_color);
}

.form-control:focus{
    background-color: #f0f0f0;
    border-bottom: 3px solid var(--special_color);
}

.form-control::placeholder{
    opacity: calc(0.8);
}

#upload{
    padding: 50px;
    border: 2px dashed var(--special_dark-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

#upload p{
    font-weight: 600;
}

#file_selected{
    background-color: var(--special_color);
    padding: 10px;
    color: white;
    display: none;
}

.form-label{
    font-weight: 600;
    margin-left: 5px;
}

#uploadButton{
    background-color: var(--special_color);
    color: black;
    width: 100%;
}

#uploadButton:hover{
    background-color:lavender;
    color: var(--special_dark-color);
    border: 1px solid var(--special_dark-color);
}

.dv1 {
    backdrop-filter: blur(30px);
    display: flex;
    color: white;
    /*     justify-content: center;
    align-items: center;*
    flex-direction: column;*/
}

.upload-box{
    color: black;
    width: 100%;
    /* max-width: 400px; */
    flex: 1;
    height: 80vh;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 3px 3px 1px 0px black;
    font-weight: 600;*/
    margin: auto;
    text-transform:capitalize;
}

/* .photo_details{
    width: 700px !important;
} */

.upload_div{
    background-image: url("outils/jpg/photographer5.png");
}

.dv1-0 {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.dv1-0 div{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    position:absolute;
    top: 50%;
    bottom: 50;
    left: 5%;
    font-size: 30px;
    font-weight: 600;
}

.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--special_dark-color);
    padding: 10px;
}

.form-control::placeholder{
    opacity: calc(0.7);
}

.form-label{
    margin-left: 2px;
}

.form-control:focus{
    border-bottom: 2px solid var(--special_color);
}

.form-check-input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

.form-check-input{
    border: 1px solid black;
}

.form-check-input:checked{
    background-color: var(--special_color);
}

.cards{
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.cards a{
    text-decoration: none;
}

.cards div{
    flex: 1 1 300px;
    max-width: 400px;
    min-width: 280px;
}

.card{
    border-radius: 10px;
    /*border: 2px dashed #454545;*/
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
}

.cards .card{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cards .card-body{
    transition: transform 0.3s ease;
}

.cards .card:hover{
    z-index: 10;
    transform: scale(1.05);
}

.cards .card h3{
    font-weight: 700;
}

.cards .card i{
    font-size: 15px;
}

.cards .card input[type="radio"]:checked + .card-body {
    border: 2px solid var(--special_color);
    border-radius: 10px;
    background-color: #f0f8ff;
    transform: scale(1.05);
}

/* .step{
    display: none;
}

.step.active{
    display: block;
} */

.pagination{
    margin-top: 20px;
}

.pagination .page-item{
    margin: auto;
}

.pagination .page-item .page-link{
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: var(--special_color);
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

.pagination .page-item .page-link:hover{
    background-color:white;
    color: var(--special_color);
    /* border: 1px solid black; */
}

.uploadCard .card-body{
    border: 3px dashed black;
    border-radius: 10px;
}

#preview{
    width:400px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .dv1 {
        margin: auto;
        padding: 0;
    }

    .dv1-1 {
        margin: auto;
        padding: 0;
    }

    .dv1-0{
        display: none;
    }

    .dv1-1 input,
    .dv1-1 button {
        font-size: 14px;
        padding: 10px;
    }
}